<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>827329378154-b78t3madgnj0kt2k6dhrcmq4url9kmng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827329378154-b78t3madgnj0kt2k6dhrcmq4url9kmng</string>
	<key>API_KEY</key>
	<string>AIzaSyD058MDEu8Dx-N9XEKl_TWAYZ8Bap1C6TA</string>
	<key>GCM_SENDER_ID</key>
	<string>827329378154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.STKRpro.hexa</string>
	<key>PROJECT_ID</key>
	<string>profestickers</string>
	<key>STORAGE_BUCKET</key>
	<string>profestickers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827329378154:ios:d4e2b67f33b0e33c</string>
	<key>DATABASE_URL</key>
	<string>https://profestickers.firebaseio.com</string>
</dict>
</plist>